<!DOCTYPE html>
<html lang="en" style="background-color: #ededed" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><i class="fas fa-running"></i>Endurance</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js" charset="utf-8"></script>-->
  

</head>
<body>
  <main id="root"  ></main>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>


   <footer>
        
            <a href="https://github.com/mickeysaddai/endurance_app"><i class="fab fa-github"" style=";"></i> </a>
            <a href="https://www.linkedin.com/in/michelle-addai-5626a6106/"><i class="fab fa-linkedin-in" style=""></i> </a>
            <a href="/"><i class="far fa-user" style=""></i></a>
        

    </footer>
</body>
</html>
