# We want to generate our own bundle not use any pre-existing bundles
bundle.js
bundle.js.map
/node_modules
/tmp
/tmp/*
tmp/
# Ignore master key for decrypting credentials and more.
master.key
.env


public/assets/*