.fa-fire-alt{
    color: rgb(236, 88, 29);
    font-size: 40px;

}

.fa-history{
    color: rgb(44, 209, 221);
    font-size: 40px;

}

.fa-stopwatch{
    color: rgb(96, 226, 139);
    font-size: 40px;

}

.fa-road{
     color: rgb(62, 67, 70);
    font-size: 40px;


}