.editActivities{
    background-color: white !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    
}

.editActivity{
    background-color: white;
}

.selectedBox {
   background-color: yellow !important;
}