.createActivity{
    display: flex !important;
    width: 88%;
    background-color: #dadada !important;
        padding: 1.25rem !important;
        

}
.logForm{
    margin-bottom: 10px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    // margin-bottom: -10%;
   

}
 

.logColumn{
   display: flex !important;
   align-items: flex-start !important;
   flex-direction: column;

    
 
 
}
.logDuration{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 10px;

}

.inputDuration{
    border-radius:4px !important;
    width: 70px;
    border: 2px solid #a3a9c4 !important;

    border-radius:4px !important;
}

.logStartTime{
    margin-right: 50px;
    padding: 10px;
    width: 1px;
    

}

.inputStartTime{
    width: 90px;
    margin-bottom: 20px;
    border: 2px solid #a3a9c4 !important;
    border-radius:4px !important;

}


.logDistance{
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    // margin-right: 100px;
}

.inputDistance{
 
    width: 50px !important;
    margin-bottom: 30px !important;
    border: 2px solid #a3a9c4 !important;
    // border-radius: 4px !important;
}



.logCalories{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}


.inputCalories{
    width: 70px;
    border: 2px solid #a3a9c4 !important;
    border-radius:4px !important;
}



.css-dhopo2{

    min-height: 220px !important;
    margin-left: 10px;
  
}

.css-169iwlq-MuiCalendarPicker-root{
    margin-left: 10px;
}

.logBPM{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.inputBPM{
     width: 50px;
    margin-bottom: 20px;
    border: 2px solid #a3a9c4 !important;
    border-radius:4px !important;

}

.logActivitytype{
    display: flex;
    flex-direction: column;
}

.inputActivitytype{
    width: 100px;
    margin-bottom: 20px;
      border: 2px solid #a3a9c4 !important;
    border-radius:4px !important;

}

.logDescription{
    display: flex;
    flex-direction: column;

}

.description{
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
    border: 2px solid #a3a9c4 !important;

    border-radius:4px !important;

}

.save {
    // display: flex;
    // flex-direction: column;
    height: 35px !important;
    // margin-top: 50px;
    background-color: #8bd554 !important;
    color: white !important;
    
    // height: 15px;
}



.activitySelector{
   display: flex !important;
   padding-top: 60px !important;
   flex-direction: row;
   justify-content: space-between;
   min-width: 10px !important;
   background-color: lightgrey !important;
}
.runner{
    width:89px;
     transition: transform 250ms;
}

.runner:hover {
        transform: translateY(-10px);
}

.fa-person-running:before, .fa-running:before {
    content: "\f70c";
    font-size: 55px;
    color: #31a4d9;
}

.walker{
    width:89px;
     transition: transform 250ms;
}

.walker:hover {
        transform: translateY(-10px);
}

.fa-person-walking:before, .fa-walking:before {
    content: "\f554";
    font-size: 55px;
    color: #31a4d9;
}

.cycler{
    width:89px;
    height: 120px;
     transition: transform 250ms;
}


.cycler:hover {
        transform: translateY(-10px);
}

.fa-biking:before, .fa-person-biking:before {
    content: "\f84a";
     font-size: 45px;
    color: #31a4d9;
}


.hiker{
      width:89px;
    height: 120px;
      transition: transform 250ms;
}

.hiker:hover {
        transform: translateY(-10px);
}

.fa-hiking:before, .fa-person-hiking:before {
    content: "\f6ec";
     font-size: 45px;
    color: #31a4d9;
}

.back{
    height: 35px !important;
    background-color: #8bd554 !important;
    color: white !important;

}

.next{
    height: 35px !important;
    background-color: #8bd554 !important;
    color: white !important;

}


// .navigationButtons{
//     display: flex !important;
//     justify-self: row !important;
// }

.is-rounded{
    background-color: #1aa5e6!important;
    font-size: 12px !important;
    font-weight: bold;
}

.nonActiveStep {
    background-color: lightgray !important;
}

.logNext{
    padding-top: 30px;
    margin-left:1%;
}

.activityTitles{
    margin-top: -50px !important;

}

.activities{
    // background-color: rgb(179, 223, 243) !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    
}

.activityContainer {
    // background-color: rgb(179, 223, 243) !important;
    width: 110% !important;

    padding-left: 6% !important;
  
}

.backNextButtons {
     display: flex !important;
    flex-direction: row !important;
     justify-content: space-between ;
}




.map-container {
min-height: 50vh;
padding-top: 3%;
width: 758.359px;
// // margin-top: 6%;
// background-color:#1aa5e6;
// // color: rgb(43, 31, 219);
// font-size: 11px;
// display: block;
// margin: 0;
// // padding: 1px 1px 1px 1px;
// border-radius: 1%;
}


.buttonColumn{
    width: 74.6666% !important;
    // line-height: 20% !important;

}

.buttons:last-child {
    margin-bottom: -1.5rem !important;
}

.plotMap{
    margin-left: 40%;
    font-weight: bold;

}

.deleteAct{

    margin-left: 70%;
}