.navButtons{
    background-color: #31a4d9;
    display: flex;
    justify-content: space-between;
    // height: 70px;

     padding: 18px 0;

}



.feedNav{
    padding-top: 4px;
    font-size: 20px; 
    // margin-right: 25px;
    // margin-left: -90px;
    cursor: pointer;
    cursor: hand;
    
    // border-right: 1px
 
}

.meNav{
     padding-top: 4px;
   font-size: 20px; 
    // margin-right: 340px;
    // margin-left: -100px;
    cursor: pointer;
    cursor: hand;
    // border-right: 1px

}

.logNav{
    padding-top: 4px;
    // margin-right: 1200px;
    // margin-left: -400px;
     font-size: 20px; 
    cursor: pointer;
    cursor: hand;


}

.enduranceNav{
     color: black;
     font-size: 25px; 
     margin-left: 390px;
     font-family: cursive !important;
    font-weight: bold !important;

    
}
 
a {
    color: white !important;
 
    

}