.navButtons{
    background-color: #31a4d9;
    display: flex;
    justify-content: space-evenly;
    padding-top: 18px;
    margin-bottom: 30px;

}



.feedNav{
    padding-top: 4px;
    font-size: 20px; 
    cursor: pointer;
}

.meNav{
     padding-top: 4px;
   font-size: 20px; 
    cursor: pointer;


}

.logNav{
    padding-top: 4px;
     font-size: 20px; 
}

.enduranceNav{
     color: black;
     font-size: 25px; 
     margin-left: 390px;
     font-family: cursive !important;
    font-weight: bold !important;
}
 
a {
    color: white !important;  

}

.settingButton{
    color: white;
}

.rootDiv{
    background-color: greenyellow !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}