.usersBox{
    margin-top: 40px;
}

span {
    color: grey !important;
}

.is-active {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px ;
    border-bottom: none !important;
}

.iconActive {
    color: #31a4d9 !important;
}
.user-tabs {
    background-color:#f0f0f0;
}

.user-overview {
    border-right: 1px solid #efefef;
}

.userProfileColumn{
    background-color: white;
    width: 50% !important;
}

.appColumn{
    width: 50% !important;

}